/* header.css */

/* Cache le menu burger sur les écrans plus grands */
.burger-menu {
    display: none;
}

/* Affichage du menu sur mobile */
@media (max-width: 768px) { 
    .nav-links {
        display: none; /* Cache les liens sur mobile */
    }

    .burger-menu {
        display: block; /* Affiche le menu burger */
    }

    .mobile-menu {
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background: #538460;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        padding: 16px;
    }
}
